// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-body {
  padding: 30px;
}

.commentlist {
  list-style: none outside none;
}

p, ul, ol, li {
  line-height: 1.5em;
}

.comment {
  border-bottom: 1px solid #efefef;
  font-size: 1.2em;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 0 0 20px;
}

.comment-body {
  overflow: hidden;
}

.comment-author {
  float: right;
  margin-left: 30px;
  margin-right: 20px;
  max-width: 180px;
  width: 40%;
}

.comment-author img {
  background-image: url("/images/ajax-loader.gif");
  border-radius: 3px;
  display: block;
  margin: 0 0 10px;
}

img {
  height: auto;
}

img, object, embed {
  max-width: 100%;
}

.comment-author a {
  color: #333;
  font-weight: bold;
  line-height: 1.5em;
}

cite {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.commentlist {
  list-style: none outside none;
}

.comment-meta {
  border-bottom: 1px solid #efefef;
  font-size: 0.8em;
  margin: 0 0 5px;
  padding: 0 0 5px;
  color: #cccccc;
}

.comment-meta a {
  color: #ccc;
  font-weight: normal;
  line-height: 1.5em;
}

a {
  color: #64854c;
  text-decoration: none;
}
